body {
  background-color: #a49db6;
  background-image: url("../img/asfalt-light.png");
  font-family: "Montserrat", sans-serif;
}

h1 {
  font-size: 4em;
  text-align: center;
}
h1 div {
  display: inline-block;
}
h1 span:first-of-type {
  font-weight: 400;
}
h1 span:nth-of-type(2) {
  font-weight: 800;
}

#band-form-container {
  text-align: center;
}
#band-form-container form {
  display: inline-block;
  font-size: 1.2em;
}
#band-input {
  font-size: 1.2em;
  height: 30px;
  width: 300px;
  margin: 5px;
}

#band-options {
  text-align: center;
  margin-top: 1em;
}
#band-options > div {
  width: 50%;
  display: inline-block;
}
.band-option {
  margin-bottom: 14px;
  font-size: 1.5em;
  line-height: 1.8em;
}
.band-option > span {
  background-color: #ff7f50bf;
  cursor: pointer;
  display: inline-block;
  width: 40%;
  padding: 5px;
  border-radius: 5px;
  /* box-shadow: 12px 12px 2px 1px rgba(0, 0, 255, .2); */
  /* box-shadow: 8px 8px 2px 1px teal; */
  box-shadow: 8px 8px 2px 1px #00808080;
}
#column-container {
  display: grid;
  grid-template-columns: 35% 65%;
}
#track-list-column {
  grid-column: 1;
  padding-left: 2em;
  text-align: center;
}
#sort-buttons {
  text-align: center;
  /* margin-bottom: 1em; */
}
#sort-buttons button {
  margin: 10px;
}
#track-list-container {
}
#track-list-container > div {
  margin-bottom: 12px;
  margin-right: 12px;
  display: inline-block;
}
#track-list-container > div > div {
  cursor: pointer;
  display: inline-block;
  padding: 5px;
  background-color: cornflowerblue;
  box-shadow: 4px 4px 2px 1px #80008080;
}
#track-list-container > div > div.selected {
  /* box-shadow: inset 4px 2px 1px #80008080; */
  background-color: cadetblue;
}

#album-list-column {
  grid-column: 2;
}

.album-entry {
  display: inline-block;
}
.album-entry img {
  width: 150px;
}
