/*          */
/* Elements */
/*          */
body {
  background-color: #a49db6;
  background-image: url("../img/asfalt-light.png");
  font-family: "Montserrat", sans-serif;
}

h1 {
  font-size: 4em;
  text-align: center;
}
h1 span {
  padding: 0.1em;
}
h1 span:first-of-type {
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
  font-weight: 400;
  color: white;
  background: rgba(100, 149, 237, 1);
  background: linear-gradient(
    90deg,
    rgba(100, 149, 237, 1) 0%,
    rgba(100, 149, 237, 1) 80%,
    rgba(208, 52, 208, 0.5) 100%
  );
}
h1 span:nth-of-type(2) {
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
  font-weight: 800;
  background: rgba(255, 127, 80, 1);
  background: linear-gradient(
    90deg,
    rgba(208, 52, 208, 0.5) 0%,
    rgba(255, 127, 80, 1) 20%,
    rgba(255, 127, 80, 1) 100%
  );
}

/* Loading Spinner */
.loading-container {
  height: 200px;
  text-align: center;
}
.loading-spinner {
  background-image: url("../img/loading.svg");
  background-repeat: no-repeat;
  background-position: center;
  height: 200px;
}

/*                     */
/* Band Selection Area */
/*                     */
#band-form-container {
  text-align: center;
}
#band-form-container form {
  display: inline-block;
  font-size: 1.2em;
  border: 1px solid gray;
  background: rgba(50, 50, 50, 0.2);
  padding: 6px;
  border-radius: 3px;
}
#band-input {
  font-size: 1.2rem;
  height: 30px;
  margin: 5px;
}

/* Band Items */
#band-options-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100px;
}
#band-options {
  text-align: center;
  margin-top: 1em;
  margin-bottom: 2em;
}
#band-options ul {
  padding: 0;
}
.band-option {
  margin-bottom: 14px;
  font-size: 1.5em;
  line-height: 1.8em;
  list-style: none;
}
.band-option button {
  background-color: #ff7f50bf;
  border: 0;
  cursor: pointer;
  font-family: inherit;
  font-size: inherit;
  font-weight: normal;
  width: 300px;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 8px 8px 2px 1px #00808080;
}
.band-option button:hover {
  background-color: #ff7f50;
}

/* Content Columns */
#column-container {
  display: grid;
  grid-template-columns: 35% 65%;
}

/*                      */
/* Track Selection Area */
/*                      */
#track-list-container {
  padding-top: 10px;
}
#track-list-container ul {
  padding: 0;
  margin: 0;
}
#track-list-column {
  grid-column: 1;
  padding-left: 2em;
  text-align: center;
}

/* Track Sort Buttons */
.sort-buttons {
  text-align: center;
  list-style: none;
  padding: 0;
  margin: 0;
}
.sort-buttons li {
  display: inline-block;
}
.sort-buttons button {
  font-family: inherit;
  font-size: inherit;
  margin: 10px;
  padding: 8px;
  background-color: #ff7f50bf;
  cursor: pointer;
  border-radius: 5px;
  box-shadow: 4px 4px 2px 1px #00808080;
  border: 0;
}
.sort-buttons button:hover {
  background-color: #ff7f50;
}

/* Track Items */
.track-name-container {
  margin-bottom: 12px;
  margin-right: 12px;
  display: inline-block;
}
.track-button {
  border: 0;
  cursor: pointer;
  display: inline-block;
  font-family: inherit;
  font-size: inherit;
  padding: 5px;
  background-color: #6495ed;
  box-shadow: 4px 4px 2px 1px #80008080;
}
.track-button:hover {
  background-color: #5f9ea0;
}
.track-button.selected {
  background-color: #5f9ea0;
}
.track-title {
  font-weight: 500;
  font-size: 1.3em;
}
.track-score {
  font-size: 1.3em;
  font-weight: 600;
  margin-top: 5px;
  margin-bottom: 5px;
}
.track-selected {
  color: #ff0000;
}

/*                      */
/* Album Selection Area */
/*                      */
#album-list-column {
  grid-column: 2;
}
#albums-container ol {
  padding: 0;
  margin: 0;
}
.album-entry-container {
  display: inline-block;
  vertical-align: top;
}

/* Album Items */
.album-entry {
  display: inline-block;
  text-align: center;
  margin: 10px;
  width: 200px;
}
.album-entry img {
  width: 200px;
}
